@media screen and (max-width: 900px) {
    #home_typography{
        max-width: 500px;
        transform: translateX(-50%);
    }
    .home_image_right{
        width: 240px;
        float: right;
        margin-left: 500px !important;
    }
    .home_image_left{
        width: 240px;
        float: left;
        margin-right: 500px !important;
    }
}
@media screen and (min-width: 900px) {
    #home_typography{
        max-width: 400px;
        transform: translateX(-20%);
    }
    .home_image_right{
        position: absolute;
        width: 280px;
        margin-left: -350px !important;
        transform: rotate(10deg);
        /* margin-top: 10px !important; */
        top: attr(top)
    }
    .home_image_left{
        position: absolute;
        width: 280px;
        margin-left: -350px !important;
        transform: rotate(-10deg);
        margin-top: 10px !important;
    }
}

#home_typography{
    left: 50%;
    position: relative;
}

.home_image_right{
    box-shadow:2px 2px 5px #ccc;
    border-radius: 10px;
    margin: 30px 0 30px 0;
}

.home_image_left{
    box-shadow:2px 2px 5px #ccc;
    border-radius: 10px;
    margin: 30px 0 30px 0;
}

.home_image_right .ant-card-body, .home_image_left .ant-card-body{
    padding: 10px;
}
